.main{
    display: flex;
    background-color: #F7F7F7;
    width: 97vw;
    height: 95vh;
    margin: 1.2em;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    justify-content: space-between;
    max-width: 30vw;
    margin-top: 2em;
}

.primary{
    align-self: flex-end;
    color: #F172A1;
    font-weight: 600;
    font-size: 1.4em;
    background-color: transparent;
    border: none;
    transition: all .2s ease-in-out;
}

.primary:hover{
    cursor: pointer;
    transform: scale(1.09);
}

.secondary{
    color: #505050;
    font-weight: 600;
    font-size: 1.4em;
    background-color: transparent;
    border: none;
    transition: all .2s ease-in-out;
}

.secondary:hover{
    cursor: pointer;
    transform: scale(1.09);
}

.content{
    margin-left: 3em;
    color: #505050;
}

.head{
    font-size: 4em;
    width: 45vw;
}

.subhead{
    font-size: 1.2em;
    width: 45vw;
}

.msecondary{
    color: #505050;
    font-weight: 600;
    font-size: 1.2em;
}