.main{
    display: flex;
    background-color: #F7F7F7;
    width: 97vw;
    height: 95vh;
    margin: 1.2em;
    justify-content: center;
    align-items: center;
}

.content{
    margin-left: 3em;
    color: #505050;
}

.head{
    font-size: 4em;
    width: 45vw;
}

.subhead{
    font-size: 1.2em;
    width: 45vw;
}

.primary{
    align-self: flex-end;
    color: #F172A1;
    font-weight: 600;
    font-size: 1.4em;
}

.image{
    width: 47vw;
}



.mmain{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    width: 98vw;
    height: 97vh;
    margin: 1em;
    justify-content: center;
    align-items: center;
    color: #505050;
}

.mhead{
    font-size: 2em;
    width: 70vw;
}

.msubhead{
    font-size: 1.2em;
    width: 70vw;
}

.mprimary{
    color: #F172A1;
    font-weight: 900;
    font-size: 1.4em;
}

.mimage{
    width: 70vw;
}


/* ipads */
@media only screen and (max-width: 767px) {

}

/* phones */
@media only screen and (max-width: 480px) {
    .main{
        width: 0vw;
        height: 0vh;
        margin: 0em;
    }

    .content{
        margin-left: 0em;
    }
    
    .head{
        font-size: 2em;
        width: 4vw;
    }
    
    .subhead{
        font-size: 1em;
        width: 45vw;
    }
    
    .image{
        width: 40vw;
    }
}
