
.image{
    width: 30vw;
}

/* mobile classes */

.mmain{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    padding: 5rem;
    margin: 1em;
    justify-content: center;
    align-items: center;
    color: #505050;
}

.mhead{
    font-size: 2em;
    width: 70vw;
}

.mbuttons{
    display: flex;
    flex-direction: column;
}

.msubhead{
    font-size: 1.2em;
    width: 70vw;
}

.mprimary{
    color: #F172A1;
    font-weight: 900;
    font-size: 1.4em;
    margin-bottom: 2rem;
}

.mimage{
    width: 70vw;
}


/* ipads */
@media only screen and (max-width: 767px) {

}

/* phones */
@media only screen and (max-width: 480px) {
    .content{
        margin-left: 0em;
    }
    
    .head{
        font-size: 2em;
        width: 4vw;
    }
    
    .subhead{
        font-size: 1em;
        width: 45vw;
    }
    
    .image{
        width: 40vw;
    }
}
