.background{
    background-color: #DADADA;
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.jump-list{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.jump-card{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 50vh;
    align-items: center;
    margin: 5px;
}

.picture{
    width: 20vw;
    height: 50vh;
    object-fit: cover;
}

#card-label {
    position:relative;
    bottom:30px;
    left:0px;
    visibility:hidden;
    opacity: 1;
    background-color: #DADADA;
    width: 20vw;
    height: 2rem;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}
    
.jump-card:hover #card-label {
    visibility:visible;
}

.search-container{
    display: flex;
    flex-direction: column;
}

.search-container label{
    font-weight: 500;
    font-size: 1.5rem;
    color: #3b3a3a;
}

.search-box{
    width: 13vw;
    padding: 1em;
    height: 1.5rem;
    border: none;
    border-radius: 0.15rem;
    font-size: 1.2rem;
}

.jump-top{
    display: flex;
    justify-content: center;
    width: 70vw;
}

.slider{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    /* overflow-x: auto; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.margin{
    margin-bottom: 5rem;
}

.slider-image{
    width: 30vw;
    object-fit: cover;
    height: 70vh;
    margin: 10px;
}


/* mobile */
/* ----------- phones ----------- */
@media only screen and (max-width: 480px) {
    .background{
        background-color: #DADADA;
        min-height: 100vh;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 4rem 0rem 0rem 0rem;
    }

    .search-container{
        margin-top: .2rem;
        margin-bottom: 0rem;
    }

    .search-container label{
        font-size: 1.2rem;
    }
    
    .search-box{
        width: 50vw;
        height: 1.5rem;
        border: none;
        border-radius: 0.15rem;
        font-size: 1.2rem;
    }
    
    .jump-top{
        display: flex;
        justify-content: center;
        width: 70vw;
    }
    
    .jump-card{
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        align-items: center;
        margin: 0px;
    }
    
    .picture{
        width: 100vw;
        height: 100vh;
        object-fit: contain;
    }
    
    #card-label {
        position:relative;
        visibility:visible;
        width: 100%;
        color: #000;
        font-size: 1.2rem;
        height: 10rem;
        margin: -2rem 0rem -5rem 0rem;
    } 

    .slider{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #F7F7F7;
    }
    
    .margin{
        margin-bottom: 5rem;
    }
    
    .slider-image{
        width: 100%;
        object-fit: cover;
        height: 70vh;
        padding: 0px;
        margin: 0px;
    }
}