.footer{
    background-color: #505050;
    padding: 3em;
    display: flex;
    justify-content: center;
}

.footer p{
    color: white;
    font-weight: bold;
    font-size: 1.4em;
}

.footer-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.footer-list div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-list li :hover{
    cursor: pointer;
}
