
.app{
    display: flex;
    flex-direction: column;
    font-family: 'nunito', sans-serif;
}

.hero{
    height: 100vh;
    background-image: url('./svg/hero.svg');
    display: flex;
    align-items: center;
}

.hero-text{
    padding-left: 8rem;
    color: #fff;
}

.hero-text h2{
    font-weight: 700;
    font-size: 3.5em;
    width: 40vw;
    margin-bottom: -0.4rem;
    justify-self: center;
    align-self: center;
}

.hero-text p{
    font-weight: 500;
    font-size: 2em;
    width: 40vw;
}

.cta-btn{
    background-color: #F172A1;
    font-size: 30px;
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    transition: all .2s ease-in-out;
}

.cta-btn:hover{
    cursor: pointer;
    transform: scale(1.09);
}

.mcta-btn:hover{
    cursor: pointer;
}

.lang-btn{
    width: 5rem;
    background-color: #D9C3CB;
    border: none;
    font-family: 'nunito' sans-serif;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
}

.hero img{
    margin-left: 2em;
    margin-top: -5em;
    width: 40vw;
}



/* mobile */
.home-background{
    background-color: #A1C3D1;
}

.mhero{
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo{
    float: left;
    margin-left: 1em;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

.mhero img{
    margin-top: 3em;
    height: 25vh;
    margin-bottom: 0.5em;
}

.mhero-text{
    width: 60vw;
}

.mhero-text h2{
    font-weight: 600;
    font-size: 2em;
    margin-bottom: -0.4rem;
}

.mhero-text p{
    font-weight: 400;
    font-size: 1.6em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.mcta-btn{
    background-color: #F172A1;
    font-size: 1.5em;
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    width: 60vw;
}

.text-center{
    text-align: center;
}

.main{
    display: flex;
    background-color: #F7F7F7;
    flex-direction: row;
    height: 95vh;
    margin: 1.2em;
    justify-content: center;
    align-items: center;
}

.content{
    width: 50vw;
}

.head{
    font-size: 2.4em;
}

.image{
    width: 25vw;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background-color: #F7F7F7;
}

.header{
    font-size: 2rem;    
}

.subheader{
    font-size: 1.4rem;
    color: rgb(85, 85, 85);
}

.primary-cta{
    font-size: 1.5rem;
    border-radius: 0.2rem;
    background-color: #F172A1;
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: white;
    border: none;
}

.section{
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.text-section{
    background-color: transparent;
    width: 40%;
}

/* ipads */
@media only screen and (max-width: 767px) {

}


/* phones */
@media only screen and (max-width: 480px) {
    .image{
        width: 40vw;
    }

    .flex{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding: 1.2rem;
    }

    .reverse{
        flex-direction: column-reverse;
    }
    
    .header{
        font-size: 1.3rem;    
    }
    
    .subheader{
        font-size: 1rem;
    }
    
    .primary-cta{
        font-size: 1rem;
        padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    }

    .text-section{
        background-color: transparent;
        width: 80%;
    }

    /* contact section */
    .head{
        font-size: 1.4em;
        width: 100vw;
    }

    .subhead{
        font-size: 1em;
        width: 50vw;
    }
}