
.app{
    display: flex;
    flex-direction: column;
    font-family: 'nunito', sans-serif;
}

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url('./svg/hero.svg');
    display: flex;
    align-items: center;
}

.hero-text{
    padding-left: 8rem;
    color: #fff;
}

.hero-text h2{
    font-weight: 700;
    font-size: 3.5em;
    width: 40vw;
    margin-bottom: -0.4rem;
    justify-self: center;
    align-self: center;
}

.hero-text p{
    font-weight: 500;
    font-size: 2em;
    width: 40vw;
}

.cta-btn{
    background-color: #F172A1;
    font-size: 30px;
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    transition: all .2s ease-in-out;
}

.cta-btn:hover{
    cursor: pointer;
    transform: scale(1.09);
}

.mcta-btn:hover{
    cursor: pointer;
}

.lang-btn{
    width: 5rem;
    background-color: #D9C3CB;
    border: none;
    font-family: 'nunito' sans-serif;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
}

.hero img{
    margin-left: 2em;
    margin-top: -5em;
    width: 40vw;
}



/* mobile */
.mhero{
    width: 100vw;
    height: 100vh;
    background-color: #A1C3D1;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mhero img{
    margin-top: 7em;
    height: 25vh;
    margin-bottom: 1.5em;
}

.mhero-text{
    width: 50vw;
}

.mhero-text h2{
    font-weight: 600;
    font-size: 2em;
    margin-bottom: -0.4rem;
}

.mhero-text p{
    font-weight: 400;
    font-size: 1.6em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.mcta-btn{
    background-color: #F172A1;
    font-size: 1.5em;
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
    color: #fff;
    border-radius: 0.25rem;
    border: none;
    width: 50vw;
}
